.nav {
  grid-area: n;
  padding: 30px;
}

.item {
  text-decoration: none;
  font-size: larger;
  margin: 50px;
  color: #000000;
  text-align: left;
  font-weight: bolder;
  border-bottom: 2px solid #f2f3f7;
  font-family: "SegoeUIBold";
  font-size: 16px;
  text-transform: uppercase;
}

.item .active {
  font-family: "Merriweather", serif;
  font-size: larger;
  margin: 50px;
  color: #1e3685;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid #1e3685;
}
