.descriptionBlock {
	padding: 10px;
	height: auto;
}

.img {
	border-radius: 30px;
	border: 3px solid rgb(228, 224, 224);
	width: 25%;
}

.text {
	border: 1px solid rgb(228, 224, 224);
	border-radius: 10px;
	width: 25%;
	height: auto;
	text-align: center;
	margin-left: 5px;
}

.status {
	border: 1px solid rgb(228, 224, 224);
	border-radius: 10px;
	width: 25%;
	height: auto;
	min-height: 20px;
	text-align: center;
	margin-left: 5px;
	cursor: pointer;
	margin-bottom: 5px;
}

.input {
	border: 1px solid rgb(228, 224, 224);
	border-radius: 10px;
	height: auto;
	min-height: 20px;
	text-align: center;
}

.check {
	visibility: hidden;
}