.item {
	color:dodgerblue;
}

.item img {
	width: 60px;
	border-radius: 20px;
	height: 60px;
}

.comment {
	width: 100px;
}

.likes {
	cursor: pointer;
}

.likedByMe {
	cursor: pointer;
	color: red;
}