@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

.app-wrapper {
  background-image: url("https://img.freepik.com/free-photo/top-view-person-writing-on-laptop-with-copy-space_23-2148708035.jpg?w=1800&t=st=1665429198~exp=1665429798~hmac=912e3dba0d6fc0394c460d54d175b495e9b765b75b91eb62246755fd72237de2");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;

  font-family: "Merriweather", serif;
  text-decoration: none;

  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "h h" 
	"n c";
}

.app-wrapper-content {
  grid-area: c;
}
