.app-wrapper {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;

  font-family: "Merriweather", serif;
  text-decoration: none;

  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "h h"
    "n c";
}

.app-wrapper-content {
  grid-area: c;
}
