.dialogs {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
  padding: 10px;
  
}

.messages {
  padding: 10px;
}

.dialog {
  padding: 10px;
  text-decoration: none;
}

.active {
  color: teal;
}
