.dialogs {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.messages {
  padding: 10px;
}

.dialog {
  padding: 20px;
  text-decoration: none;
  color: #000000;
}

.active {
  padding: 20px;
  text-decoration: none;
  color: teal;
}
